/ProjectSettings
/Temp
/Library
/Assets/AssetStoreTools
/Build
/Unity.v12.suo
/Unity.CSharp.csproj
/Unity.CSharp.Editor.csproj
/Unity.sln
/Assets/AssetStoreTools.meta
/BGCurve.CSharp.Editor.csproj
/BGCurve.CSharp.csproj
/BGCurve.sln
/BGCurve.sln.DotSettings.user
/BGCurve.v12.suo
/BGCurve.Editor.csproj
/BGCurve.csproj
